{% extends 'base.html.twig' %}

{% block metas %}
    {% if success is defined %}
        <meta http-equiv="refresh" content="5;URL=/">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if error is defined %}
            {% if error == 'not_exist' %}
                <div class="alert alert-danger">Sorry, we have not found you, please make a lost password request again. <a href="/">Go to homepage</a>.</div>
            {% elseif error == 'token_expired' %}
                <div class="alert alert-danger">Sorry, your lost password token has expired, please make a new lost password request. <a href="/">Go to homepage</a>.</div>
            {% endif %}
        {% elseif success is defined %}
            <div class="alert alert-success">Success! Your new password is now set correctly. You will be redirected to the homepage in <span id="cooldown">5</span> seconds.</div>
        {% else %}
            <form action="{{ path('security_lost_password_create', {'id': user.getId().toString(), 'token': user.getLostPasswordToken()}) }}" method="POST">
                <div class="col-6 offset-3">
                    {{ form_row(form.password) }}

                    <button type="submit" class="btn btn-success">Change my password</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if success is defined %}
        <script>
            let cooldown = 5000;
            setInterval(() => {
                document.querySelector('#cooldown').textContent = (cooldown / 1000.0).toFixed(0);
                cooldown -= 100;
            }, 100);
        </script>
    {% endif %}
{% endblock %}
