{% extends 'base.html.twig' %}

{% block metas %}
    {% if error is not defined %}
        <meta http-equiv="refresh" content="5;URL=/">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if error is defined %}
            {% if error == 'not_exist' %}
                <div class="alert alert-danger">Sorry, this confirmation does not exist. Please check the web address in your email message.</div>
            {% elseif error == 'already_confirmed' %}
                <div class="alert alert-danger">Sorry, you have already confirmed your registration. Feel free to <a href="/">login</a> to the Fleet Manager.</div>
            {% else %}
                <div class="alert alert-danger">Sorry, an unexpected error has occurred. Please retry in a moment.</div>
            {% endif %}
        {% else %}
            <div class="alert alert-success">Congrats! You are now confirmed on Fleet Manager. You will be redirected to the homepage in <span id="cooldown">5</span> seconds.</div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if error is not defined %}
        <script>
            let cooldown = 5000;
            setInterval(() => {
                document.querySelector('#cooldown').textContent = (cooldown / 1000.0).toFixed(0);
                cooldown -= 100;
            }, 100);
        </script>
    {% endif %}
{% endblock %}
