{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2.6",
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import"
  ]
}
