{
    "presets": [
        [
            "@vue/app",
            {
                "useBuiltIns": "usage",
                "polyfills": [
                    "es.promise",
                    "es.symbol"
                ]
            }
        ]
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
