version: '3.5'
volumes:
    #    db: ~
    redis_db: ~
services:
    php:
        build:
            context: .
            target: build_php_dev
            dockerfile: ./docker/Dockerfile
            args:
                ENV: 'dev'
                DUMP_ENV: 1
        volumes:
            - .:/app
#        environment:
#            # Docker for mac : try remote_host=host.docker.internal instead of remote_connect_back
#            XDEBUG_CONFIG: >-
#                remote_enable=1
#                remote_connect_back=1
#                remote_port=9001
#                idekey=PHPSTORM
    supervisor:
        build:
            context: .
            target: build_supervisor_dev
            dockerfile: ./docker/Dockerfile
            args:
                ENV: 'dev'
                DUMP_ENV: 1
        volumes:
            - .:/app
    apache:
        build:
            context: .
            target: build_apache
            dockerfile: ./docker/Dockerfile
        volumes:
            - .:/app
        ports:
            - 8100:80
    postgres:
        image: postgres:13
        hostname: postgres
        command: ['postgres', '-c', 'config_file=/etc/postgresql/postgresql.conf']
        tmpfs:
            - /var/lib/postgresql/data
        volumes:
            # - db:/var/lib/postgresql/data
            - ./docker/postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: root
            POSTGRES_DB: fleet_manager
        ports:
            - 5432:5432
    smtp:
        image: schickling/mailcatcher
        ports:
            - 1080:1080 # web-ui
    redis:
        environment:
            REDIS_PASSWORD: root
