version: '3.4'
services:
    php:
        build:
            context: .
            target: build_php_dev
            dockerfile: ./docker/Dockerfile
        volumes:
            - ./:/app
        environment:
            # Docker for mac : try remote_host=host.docker.internal instead of remote_connect_back
#            XDEBUG_CONFIG: >-
#                remote_enable=1
#                remote_connect_back=1
#                remote_port=9001
#                idekey=PHPSTORM
    apache:
        volumes:
            - ./public:/app/public
    smtp:
        image: schickling/mailcatcher
        ports:
            - 127.0.0.1:1080:1080 # web-ui
