@viewport { width: device-width; }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	color: $white;
	box-sizing: border-box;
	overflow-x: hidden;
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		color: $white;
		background-color: #031217;
		#pg {
			margin: 0;
			padding: 0;
			min-height: 100%;
			width: 100%;
		}
	}
}

img{
	max-width: 100%;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: white;
}

.text-center {
	text-align: center;
}

i{
	font-size: 1.7rem;
	padding: $gridGutter/3;
}

.w100 { width: 100% !important; }
.w90 { width: 90% !important; }
.w80 { width: 80% !important; }
.w75 { width: 75% !important; }
.w70 { width: 70% !important; }
.w66 { width: 66.6666% !important; }
.w60 { width: 60% !important; }
.w50 { width: 50% !important; }
.w40 { width: 40% !important; }
.w33 { width: 33.3333% !important; }
.w30 { width: 30% !important; }
.w25 { width: 25% !important; }
.w20 { width: 20% !important; }
.w10 { width: 10% !important; }

.minw25 { min-width: 25% !important; }

.container{
	width: auto;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.container{
		//width: 750px;
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.container{
		//width: 970px;
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.container{
		width: 100%;
	}
}

// Extra small devices (<768px): width: auto (or no width)
// Small Devices (≥768px): width: 750px
// Medium Devices (≥992px): width: 970px
// Larger Devices (≥1200px): width: 1170px
