button.btn,
a.btn,
.btn {
	@include transitionDefault;
	outline: 0;
	padding: $gridGutter/2 $gridGutter*2;
	border-radius: $borderRadius;
	background-color: $blue;
	white-space: normal;
	font-size: 1rem;
	font-weight: 400;
	color: $white;

	&:hover{
		color: $white;
		background-color: lighten($blue, 10%);
	}

	i.fas{
		font-size: 15px;
		text-shadow: 0;
	}
}
