//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap&text=0123456789');
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(../fonts/josefin.woff2) format('woff2');
}

.card-ship {
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 0 0 #000;
    &:hover, &.card-ship-active {
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
    }
}

.card-ship-counter {
    font-family: "Josefin Sans", Helvetica Neue, Arial, sans-serif;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    line-height: 1;
    color: $gray-200;
    text-shadow: 0 0 4px rgba(30, 30, 30, 1);
}

.ship-family-detail-variants-wrapper {
    overflow-x: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
}

.ship-family-detail {
    &.collapse:not(.show) {
        display: none;
    }
}

.ship-family-detail-variants {
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: auto;
    white-space: nowrap;
    &.hide-contents {
        visibility: hidden;
    }
}
.ship-family-detail-variant {
    margin: 5px 10px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: top;
    width: calc(100% - 20px);
    white-space: normal;
}
@include media-breakpoint-only(xl) {
    .ship-family-detail-variant {
        width: calc(16.66667% - 20px);
    }
}
@include media-breakpoint-only(lg) {
    .ship-family-detail-variant {
        width: calc(25% - 20px);
    }
}
@include media-breakpoint-only(md) {
    .ship-family-detail-variant {
        width: calc(33.3333% - 20px);
    }
}
@include media-breakpoint-only(sm) {
    .ship-family-detail-variant {
        width: calc(50% - 20px);
    }
}

.ship-family-detail-variant-ownerlist {
    overflow-y: auto;
    height: 150px;
}

.app-header .navbar-brand {
    position: static;
    left: unset;
    margin-left: 0;
}
