<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}SC Fleet Manager{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ preload(asset('build/main.css')) }}">
        {% endblock %}
    </head>

    <!-- BODY options, add following classes to body to change options
    // Header options
    1. '.header-fixed'					- Fixed Header

    // Brand options
    1. '.brand-minimized'       - Minimized brand (Only symbol)

    // Sidebar options
    1. '.sidebar-fixed'					- Fixed Sidebar
    2. '.sidebar-hidden'				- Hidden Sidebar
    3. '.sidebar-off-canvas'		- Off Canvas Sidebar
    4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
    5. '.sidebar-compact'			  - Compact Sidebar

    // Aside options
    1. '.aside-menu-fixed'			- Fixed Aside Menu
    2. '.aside-menu-hidden'			- Hidden Aside Menu
    3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

    // Breadcrumb options
    1. '.breadcrumb-fixed'			- Fixed Breadcrumb

    // Footer options
    1. '.footer-fixed'					- Fixed footer
    -->
    <body {% block body_attr '' %}>
        {% block body %}
            <div id="app"></div>
        {% endblock %}

        {#<script src="{{ preload(asset('build/manifest.js')) }}"></script>#}
        {% block javascripts %}
            <script src="{{ preload(asset('build/main.js')) }}"></script>
        {% endblock %}
    </body>
</html>
