/* ------ BRAND COLORS ------ */
$darkest-blue: #0A0F16;
$darker-blue: #101823;
$dark-blue: #1C293B;

$light-blue: #445A77;
$lighter-blue: #6D84A2;
$lightest-blue: #DDE6F2;

$blue: #0093EE;

/* ------ COLORS ------ */
$white: #fff;
$black: #000;
