@font-face {
	font-family: 'Univia Pro';
	src: url('../../../../fonts/UniviaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Univia Pro';
	src: url('../../../../fonts/UniviaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../../../../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html,
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
}

@mixin font {
	font-family: "Open Sans", Arial, sans-serif;
}
@mixin fontHeadings {
	font-family: "Univia Pro", Arial, serif;
}

html {
	font-size: 100%;
}
body {
	@include font;
	font-size: $fontP;
	font-weight: 400;
	color: $white;
	text-align: center;
	strong, b {
		font-weight: 700;
	}
	h1, h2, h4{
		@include fontHeadings;
		font-weight: bold;
		color: $white;
	}

	a, li span, button {
		@include fontHeadings;
		font-weight: normal;
	}
}
